*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Noto Serif TC',
    serif;
  font-weight: 900;
  overflow: hidden;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}